footer{
    background-image:radial-gradient(rgb(168, 146, 247),rgb(225, 241, 231));
    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }
    }
